/* open-sans-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v43-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v43-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/open-sans-v43-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v43-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v43-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open sans',sans-serif;
}

a {
    text-decoration: none;
}

h2 { 
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}


.btn {
    color: white;
    background-color: #3172b9;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.btn.big {
    padding: 20px 60px;
}
img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.text-center {
    text-align: center;
}

.header {
    height: 110px;
    border-bottom: solid 1px #e4e4e4;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.nav-list {
    display: flex;
    margin: auto;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-item {
    font-size: 15px;
    line-height: 1;
}

.header-btn {
    margin-left: 40px;
}


.nav-link {
    color: #1c1c1c;
}

.nav-link.is-active {
    font-size: 15px;
    line-height: 1;
    color: #3172b9;
}

/* hero */

.section-hero {
    background: url(../img/Base.jpg) right center no-repeat transparent;
    background-size: cover;
}

.hero-container {
    padding-top: 120px;
    padding-bottom: 130px;
}

.hero-content {
    max-width: 50%;
}

.section-hero-heading {
    margin-bottom: 33px;
    margin-top: 0;
    font-size: 40px;
    line-height: 52px;
    font-weight: 300;
    color: #1c1c1c;
}

.section-hero-description{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
    color: #1c1c1c;
    
}

.section-hero-btn-description {
    margin-top: 10px;
    font-size: 11px;
    line-height: 1;
    color: #787878;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-hero-action {
    display: inline-block;
}

.section-hero-ssl-icon {
    display: inline-block;
    width: 13px;
    height: 17px;
    background: url(/img/ssl.svg) center center no-repeat transparent;
    background-size: contain;
    margin-right: 10px;
    transform: translateY(-1px);
}

/*  what we do   */

.section-do {
    padding-top: 140px;
    padding-bottom: 100px;
    border-bottom: #e4e4e4 solid 1px ;
}

.section-description {
    margin-top: 0px;
    font-size: 16px;
    line-height: 1.31;
    color: #787878;
}

.section-do-list {
    margin-top: 50px;
    display: flex;
}


.section-do-item {
    display: flex;
    flex: 1 1 25%;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    flex-direction: column;
    padding: 60px 30px;
    align-items: center;
}

.section-do-item:not(:last-child) {
    margin-right: 30px;
}

.section-do-icon {
    margin-bottom: 30px;
}

.section-do-item-description {
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
}

.section-do-item-heading {
    margin-bottom: 16px;
}

/*  clients   */
.clients {
    border-bottom: #e4e4e4 solid 1px ;
}
.clients-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-clients-heading {
    margin-bottom: 40px;
    margin-top: 0px;
}



.section-clients-list {
    display: flex;
}

.section-clients-item:not(:last-child) {
    margin-right: 30px;
}

.section-clients-item {
    
    flex: 1 1 33.33%;
    padding: 50px 35px 30px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-clients-testimonial {
    font-size: 14px ;
    line-height: 25px;
    font-weight: 300;
    color: #787878;
    margin-bottom: 35px;
}

.section-clients-user {
    display: flex;
    align-items: center;
    border-top: 1px solid #e9e9e9;
    padding-top: 28px;
}

.section-clients-username {
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    color: #1c1c1c;
}

.section-clients-user-description {
    font-size: 14px;
    line-height: 25px;
    color: #787878;
}

.section-clients-avatar {
    border: #3172b9 2px solid;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.section-clients-testimonial{
    padding-left: 35px;
    padding-right: 60px;
}

.section-clients-username {
    padding-bottom: 7px;
}

/*  contacts   */

.contacts{
    padding-top: 70px;
    padding-bottom: 165px;
    border-bottom: #e4e4e4 solid 1px ;
}

.section-heading {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 1;
    font-weight: 300;
    color: #1c1c1c;
}

.section-contact-list { 
    display: flex;
    
    
}

.section-contact-item {
    flex: 1 1 33.33%;
    
}


.section-contact-info {
    font-size: 14px;
    line-height: 25px;
    color: #787878;
    max-width: 250px;
}

.section-contact-link { 
    color: #787878;
}

.section-contacts-icon {
    display: block;
    margin-bottom: 25px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: auto 100%;
    background-color: transparent;
}

.section-contacts-icon-gps {
    background-image: url("/img/gps.png");
}

.section-contacts-icon-phone {
    background-image: url("/img/phone.png");
}

.section-contacts-icon-mail {
    background-image: url("/img/mail.png");
    background-size: auto 19px;
}

.section-contact-heading {
    display: block;
    margin-bottom: 45px;
}

/* FOOTER */
.footer {
    padding-top: 42px;
    padding-bottom: 30px;
    height: 125px;
}

.footer-container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.footer-left {
    display: flex ;
    height: 100%;
    align-items: center;
    margin-right: 198px;
}

.footer-right {
    display: flex ;
    height: 100%;
    align-items: center;
}

.footer-nav-list {
    display: flex;
}

.footer-nav {
    margin-right: 55px;
}

.footer-nav-item:not(:last-child) {
    margin-right: 37px;
}
.footer-nav-item {
    font-size: 14px;
    line-height: 1;
}


.footer-logo {
    margin-right: 25px;
}


.footer-social-icon {
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
}

.footer-social-list {
    display: flex;
    align-items: center;
}

.footer-social-icon-twitter {
    background: url(/img/twitter.svg);
    width: 18px;
    height: 15px;
}

.footer-social-icon-in {
    background: url(/img/linkedin.svg);
    width: 18px;
    height: 19px; 
    transform: translateY(-2px); 
}
.footer-social-icon-email {
    background: url(/img/email.svg);
    width: 24px;
    height: 17px; 
}

.footer-social-item:not(:last-child) {
    margin-right: 30px;
}

.footer-copyrights {
    color: #787878;
    font-size: 12px;
    line-height: 17px;
}

.footer-nav-link {
    color: #787878;
}